/* Clear floats after the columns */

.col-40 {
  float: right;
  width: 40%;
  margin-top: 6px;
}

.col-60 {
  float: right;
  width: 60%;
  margin-top: 6px;
}
.load-hydra-active{
  margin-top: 20px;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-40, .col-60  {
    width: 100%;
    margin-top: 0;
  }
}

