.m-signature-pad {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    height:100%;

    border-radius: 4px;
    border: 1px solid silver;
    padding: 3px;
    margin-bottom: 5px;
}

m-signature-pad > * {
    padding: 1px;
    flex: 1 100%;
}

.m-signature-pad--body {
    border: 1px solid initial;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
}

.m-signature-pad--body
  canvas {
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
  }

.m-signature-pad--footer, .m-signature-pad--header {
    background-color:#f0f0f0;
}

m-signature-pad--header > span {
    font-size: 0.9em;
    font-weight:900;
    padding: 1px;
    
}