.p-oven
{
  text-align: right !important;
}
/* Clear floats after the columns */
/* .row:after {
    content: "";
    display: table;
    clear: both;
  } */
/* Right column */
.rightcolumn {
    float: left !important;
    width: 50%  !important;
    margin-right: 20%;

  }
  
  /* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
     float: left !important; 
    width: 20% !important;
   position: fixed;
  }
 
  /* Add a card effect for articles */
 .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    direction: rtl;
  } 

   .leftcolumn > .card{
    margin-right: 5px;
  }
 
  .divRange{
    margin-top: 30px;
  }

 .divGridRange{
   margin-top: 10px;
}

 /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) { 
  .leftcolumn, .rightcolumn {   
    width: 100% !important;
    padding: 0 !important;
    
  }
  .rightcolumn { 
    margin-right: 5px; 
   } 
}