.flexrow{
    display: flex ; 
   /* flex-wrap: nowrap;  */
 
}
 .flexcolumn
{
   width: 33%;
   margin-right: 20px;
} 
.flexcolumnLarge
{
  
   margin-right: 20px;
} 
.flexRightcolumn
{
   width: 25%;
   margin-right: 20px;
} 
.flexMiddlecolumn
{
   width: 70%;
   margin-right: 20px;
} 

.flexRightGridRange{
   width: 70%;
   margin-right: 20px;
}
.flexLeftGridRange{
   width: 30%;
   margin-right: 20px;
}
.flexRightTemperturacolumn{
   width: 48%;
   margin-right: 20px;
}
.flexLeftTemperturacolumn{
   width: 30%;
   margin-right: 20px;
}
.flexChooseChannelsCol
{
   width: 40%;
   margin-right: 20px;
}
.flexDeviceDetailsCol
{
   width: 55%;
   margin-right: 20px;
}
.divRanges
{
   margin-right: 20px;
   width: 95%;
}
 .flexControl{
   display: flex;    
   /* flex-wrap: nowrap; */

    /* justify-content:space-between; */

} 
.flexControl > * {
   margin-left: 15px;
   margin-top: 6px;
}
.div-title{
   margin-top: 20px;
   background-color:beige;
   text-align: center;
}
.divTemperura{
   margin-top: 20px;
}
.inLineControl{
   display: inline;
}
.tabStripDiv
{
   position: relative;
   margin-top: 20px;
   margin-left: 20px;
   z-index: 1; 
}

.nextBtn{
   margin-left: 0px;
}
/* .card
{
   width: 33%;
} */
.stateCalibrateDiv{
   background-color: red;
   text-align: center;
   height: 30px;
}
.c-ModalC{
   height: 900px;
   width: 150px;
}
/* input:checked .recharts-surface{
   cursor: zoom-in;
} */


.viewReport{
   direction: ltr !important;
   left: 0px;
   position:fixed;
   
}
.viewReport2{
  
   padding-right: 50%;
   /* position:fixed; */
   /* z-index: 3; */
   
}
.btnViewReport{

    transform: translate(-50%) rotate(90deg) translate(0px,-50%); 
   
}
.viewReportDialoug{
   position:fixed;
   left: 27px;
   z-index: 3;
    height: 800px; 
   width: 600px;
   border-style: solid;
   overflow: auto;
}
.k-panelbar > .k-item > .k-link.k-state-selected, .k-panelbar > .k-item > .k-link.k-selected, .k-panelbar > .k-panelbar-header > .k-link.k-state-selected, .k-panelbar > .k-panelbar-header > .k-link.k-selected {
   color: #ff6358 !important;
   background-color: #f8f7f7 !important;
}
.divPanelBarItem{
   padding-right: 10px;
   padding-left: 10px;
   padding-bottom: 10px;
}
.createReportBtn{
 
   left: 0px;
}
.k-panelbar
{
   border-width: 2px;
}