.flexrow{
    display: flex ; 
   flex-wrap: nowrap; 
 
}
 .flexcolumn
{
   width: 33%;
   margin-right: 20px;
} 
.flexRightcolumn
{
   width: 25%;
   margin-right: 20px;
} 
.flexMiddlecolumn
{
   width: 60%;
   margin-right: 20px;
} 

.flexRightGridRange{
   width: 70%;
   margin-right: 20px;
}
.flexLeftGridRange{
   width: 30%;
   margin-right: 20px;
}
.flexRightTemperturacolumn{
   width: 48%;
   margin-right: 20px;
}
.flexLeftTemperturacolumn{
   width: 30%;
   margin-right: 20px;
}
 .flexControl{
   display: flex;    
   /* flex-wrap: nowrap; */

    /* justify-content:space-between; */

} 
.flexControl > * {
   margin-left: 15px;
   margin-top: 6px;
}
.container-channels{
   margin-top: 20px;
   background-color:beige;
   text-align: center;
}
.divTemperura{
   margin-top: 20px;
}
.inLineControl{
   display: inline;
}
.tabStripDiv
{
   margin-top: 20px;
}
.arrowsChannels{
   margin-right: 5px;
   justify-content: center;
}
.nextBtn{
   margin-left: 0px;
}
.card
{
   width: 33%;
}
.stateCalibrateDiv{
   background-color: red;
   text-align: center;
   height: 30px;
}
