
  .flexControls{
    display: flex; 
  }
  .divDinamicLimits{
    border: 1px solid black;
    overflow: auto; 
     height: 450px;  
  }
  .divControlsRange
  {
    padding: 5px;
  }
  .recharts-default-legend
  {
    overflow: auto;
  }
  .divLinechart
  {  
      width: 100%;  
     overflow: auto;
     direction: ltr; 
  }
  .menu {
    font-size: 14px;
    background-color: #fff;
    border-radius: 2px;
    padding: 5px 0 5px 0;
    width: 150px;
    height: auto;
    margin: 0;
  /* use absolute positioning  */
    position: absolute;
    list-style: none;
    box-shadow: 0 0 20px 0 #ccc;
    opacity: 1;
    transition: opacity 0.5s linear;
  }
  .highlight-bar-charts{
    width: 100%;
    overflow: auto;
  }
  .divLimits{
    width: 15%;
    height: 100%;
  }
 