.c-reference-line {
    display: flex;
  }
  .flexControls{
    display: flex; 
  }
  .divDinamicRanges{
    border: 1px solid black;
    overflow: auto; 
    height: 240px; 
  }
  .divControlsRange
  {
    padding: 5px;
  }
  .recharts-default-legend
  {
    overflow: auto;
  }