.column {
    float: left !important;
    width: 50% !important;
    padding: 10px !important;
  }

   /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) { 
  .column {   
    width: 100% !important;
    padding: 0 !important;
    
  }
}
  